<!-- Stylesheet Links -->
<link rel="stylesheet" href="/css/actions.css">
<body>
    <!-- Actions -->
    <section class="section">
        <div class="container">
          <div class="row">
            <div class="section-title">
              <h2>Create a action</h2>
            </div>
            <div class="dynamic-container">
              <div class="actions">
                  <!-- Action -->
                  <div class="action" id="home-action">
                      <i class="fas fa-add"></i>
                      <h4>Home</h4>
                      <button type="button" class="button" id="add-home-fr">criar frase</button>
                  </div>
                  <div class="action" id="about-action">
                    <i class="fas fa-add"></i>
                    <h4>About</h4>
                    <button type="button" class="button" id="add-about-intro">adicionar introdução</button>
                    <button type="button" class="button" id="add-about-text">adicionar texto</button>
                  </div>
                  <div class="action" id="company-action">
                    <i class="fas fa-add"></i>
                    <h4>Company values</h4>

                    <h5>Nosso objectivo</h5>
                        <button type="button" class="button" id="add-obj-intro">criar introdução</button>
                        <button type="button" class="button" id="add-obj-text">criar texto</button>
                    <h5>Nossa meta</h5>
                        <button type="button" class="button" id="add-goal-intro">criar introdução</button>
                        <button type="button" class="button" id="add-goal-text">criar texto</button>

                    <h5>Nosso compromisso</h5>
                        <button type="button" class="button" id="add-comp-intro">criar introdução</button>
                        <button type="button" class="button" id="add-comp-text">criar texto</button>
                  </div>
                  <div class="action" id="skill-action">
                    <i class="fas fa-add"></i>
                    <h4>Skills</h4>
                    <button type="button" class="button" id="add-skill">adicionar</button>
                  </div>
                  <div class="action" id="service-action">
                    <i class="fas fa-add"></i>
                    <h4>Services</h4>
                    <button type="button" class="button" id="add-service-text">criar texto</button>
                    <button type="button" class="button" id="add-service">adicionar</button>
                  </div>
                  <div class="action" id="project-action">
                    <i class="fas fa-add"></i>
                    <h4>Projects</h4>
                    <button type="button" class="button" id="add-project-text">criar texto</button>
                    <button type="button" class="button" id="add-project">adicionar</button>
                  </div>
                  <div class="action" id="testimony-action">
                    <i class="fas fa-add"></i>
                    <h4>Testimonial</h4>
                    <button type="button" class="button" id="add-testimony-text">criar texto</button>
                  </div>
                  <!-- Action -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Script -->
      <script src="/js/actions.js"></script>
</body>